body {
    background-color: white;
    font-family: 'Avenir', sans-serif;
}
nav {
    background-color:rgb(22, 22, 70);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
}
nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
  }
  #brand {
    float: left;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Avenir', sans-serif;
  }
  .nav-link:hover{
    color: orangered;
    font-weight: bold;
  }
  #brand .nav-link {
    color: white;
    font-size: 14pt;
  }
  #brand .nav-link:hover {
    color: orangered;
  }
  h1 {
    font-size: 60pt;
    font-family: 'baskerville', serif;
  }
  #home {
    margin-top: 50px;
    position: relative;
    left: -8px;
    width: 100vw;
    height: 20vh;
    padding-top: 3em;
    background: url('sunset.JPG') center 75% no-repeat fixed;
    background-size: cover;
  }
  .header-tag {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px orangered;
  }
  h3.header-tag{
    margin-top: -30px;
    font-size: 18pt;
  }
  h2 {
    font-family: 'Avenir', sans-serif;
    color: white;
  }
  .main {
    text-align: center;
  }
  #about {
    margin-top: 50px;
    display: inline-block;
  }
  #about-picture {
    width: 30vw;
    float: left;
  }
  #profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black
  }
  #about-content {
    width: 40vw;
    float: right;
  }